body {
    background-color: rgb(40, 94, 140);
    color: white;
    font-family: Arial;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 60px;
    /* To make it round, set to half of width / height */
    margin-right: 10px;
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score {
    margin-top: 60px;
}

.reset-button, .auto-play-button{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}